# Exploratory Data Analysis of OVID Covid-19 Dataset

## Introduction
This notebook is for performing Exploratory Data Analysis (EDA) on the COVID-19 dataset to understand the structure of the data, clean and preprocess it, and extract any insights that could help with our risk classification task. We will:
- Load and inspect the dataset
- Clean and preprocess it
- Analyze univariate, time series, and bivariate relationships
- Engineer features which may become useful for classification
---
## Data Loading and Inspection

We start by importing necessary libraries and loading the dataset. File paths may be adjusted as needed.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Load the dataset
data = pd.read_csv('../data/owid_covid_data.csv', parse_dates=['date'])

# Display the first few rows
print("First 5 rows of the dataset:")
display(data.head())

# Display data information and summary statistics
print("Dataset Information:")
data.info()

print("\nSummary Statistics:")
display(data.describe())

First 5 rows of the dataset:

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    429435 non-null  object
 1   continent                                   402910 non-null  object
 2   location                                    429435 non-null  object
 3   date                                        429435 non-null  datetime64[ns]
 4   total_cases                                 411804 non-null  float64
 5   new_cases                                   410159 non-null  float64
 6   new_cases_smoothed                          408929 non-null  float64
 7   total_deaths                                411804 non-null  float64
 8   new_deaths                                  410608 non-null  float64
 9   new_deaths_smoothed                         409378 non-null  float64
 10  total_cases_per_million                     411804 non-null  float64
 11  new_cases_per_million                       410159 non-null  float64
 12  new_cases_smoothed_per_million              408929 non-null  float64
 13  total_deaths_per_million                    411804 non-null  float64
 14  new_deaths_per_million                      410608 non-null  float64
 15  new_deaths_smoothed_per_million             409378 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                39116 non-null   float64
 18  icu_patients_per_million                    39116 non-null   float64
 19  hosp_patients                               40656 non-null   float64
 20  hosp_patients_per_million                   40656 non-null   float64
 21  weekly_icu_admissions                       10993 non-null   float64
 22  weekly_icu_admissions_per_million           10993 non-null   float64
 23  weekly_hosp_admissions                      24497 non-null   float64
 24  weekly_hosp_admissions_per_million          24497 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          85417 non-null   float64
 35  people_vaccinated                           81132 non-null   float64
 36  people_fully_vaccinated                     78061 non-null   float64
 37  total_boosters                              53600 non-null   float64
 38  new_vaccinations                            70971 non-null   float64
 39  new_vaccinations_smoothed                   195029 non-null  float64
 40  total_vaccinations_per_hundred              85417 non-null   float64
 41  people_vaccinated_per_hundred               81132 non-null   float64
 42  people_fully_vaccinated_per_hundred         78061 non-null   float64
 43  total_boosters_per_hundred                  53600 non-null   float64
 44  new_vaccinations_smoothed_per_million       195029 non-null  float64
 45  new_people_vaccinated_smoothed              192177 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  192177 non-null  float64
 47  stringency_index                            196190 non-null  float64
 48  population_density                          360492 non-null  float64
 49  median_age                                  334663 non-null  float64
 50  aged_65_older                               323270 non-null  float64
 51  aged_70_older                               331315 non-null  float64
 52  gdp_per_capita                              328292 non-null  float64
 53  extreme_poverty                             211996 non-null  float64
 54  cardiovasc_death_rate                       328865 non-null  float64
 55  diabetes_prevalence                         345911 non-null  float64
 56  female_smokers                              247165 non-null  float64
 57  male_smokers                                243817 non-null  float64
 58  handwashing_facilities                      161741 non-null  float64
 59  hospital_beds_per_thousand                  290689 non-null  float64
 60  life_expectancy                             390299 non-null  float64
 61  human_development_index                     319127 non-null  float64
 62  population                                  429435 non-null  int64
 63  excess_mortality_cumulative_absolute        13411 non-null   float64
 64  excess_mortality_cumulative                 13411 non-null   float64
 65  excess_mortality                            13411 non-null   float64
 66  excess_mortality_cumulative_per_million     13411 non-null   float64
dtypes: datetime64[ns](1), float64(61), int64(1), object(4)
memory usage: 219.5+ MB

Summary Statistics:

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,429435,4.118040e+05,4.101590e+05,4.089290e+05,4.118040e+05,410608.000000,409378.000000,411804.000000,410159.000000,408929.000000,...,243817.000000,161741.000000,290689.000000,390299.000000,319127.000000,4.294350e+05,1.341100e+04,13411.000000,13411.000000,13411.000000
mean,2022-04-21 01:06:25.463691008,7.365292e+06,8.017360e+03,8.041026e+03,8.125957e+04,71.852139,72.060873,112096.199396,122.357074,122.713844,...,33.097723,50.649264,3.106912,73.702098,0.722139,1.520336e+08,5.604765e+04,9.766431,10.925353,1772.666400
min,2020-01-01 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2936.453100
25%,2021-03-05 00:00:00,6.280750e+03,0.000000e+00,0.000000e+00,4.300000e+01,0.000000,0.000000,1916.100500,0.000000,0.000000,...,22.600000,20.859000,1.300000,69.500000,0.602000,5.237980e+05,1.765000e+02,2.060000,-1.500000,116.872242
50%,2022-04-20 00:00:00,6.365300e+04,0.000000e+00,1.200000e+01,7.990000e+02,0.000000,0.000000,29145.475000,0.000000,2.794000,...,33.100000,49.542000,2.500000,75.050000,0.740000,6.336393e+06,6.815199e+03,8.130000,5.660000,1270.801400
75%,2023-06-08 00:00:00,7.582720e+05,0.000000e+00,3.132860e+02,9.574000e+03,0.000000,3.143000,156770.190000,0.000000,56.253000,...,41.500000,82.502000,4.210000,79.460000,0.829000,3.296952e+07,3.912804e+04,15.160000,15.575000,2883.024150
max,2024-08-14 00:00:00,7.758668e+08,4.423623e+07,6.319461e+06,7.057132e+06,103719.000000,14817.000000,763598.600000,241758.230000,34536.890000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.349776e+06,78.080000,378.220000,10293.515000
std,NaN,4.477582e+07,2.296649e+05,8.661611e+04,4.411901e+05,1368.322990,513.636567,162240.412419,1508.778583,559.701638,...,13.853948,31.905375,2.549205,7.387914,0.148903,6.975408e+08,1.568691e+05,12.040658,24.560706,1991.892769

## Data Cleaning and Preprocessing

Here, we will look for missing values and clean the data if needed.

In [ ]:
data = data[data['iso_code'].str.contains('USA')]

print("\nRows with USA iso_code: ...\n", data)
print("Missing values per column in USA set:")
print(data.isnull().sum())

print("\nMissing values after filling:")
print(data.isnull().sum())

Rows with USA iso_code: ...
        iso_code      continent       location       date  total_cases  \
403451      USA  North America  United States 2020-01-05          0.0
403452      USA  North America  United States 2020-01-06          0.0
403453      USA  North America  United States 2020-01-07          0.0
403454      USA  North America  United States 2020-01-08          0.0
403455      USA  North America  United States 2020-01-09          0.0
...         ...            ...            ...        ...          ...
405120      USA  North America  United States 2024-07-31  103436829.0
405121      USA  North America  United States 2024-08-01  103436829.0
405122      USA  North America  United States 2024-08-02  103436829.0
405123      USA  North America  United States 2024-08-03  103436829.0
405124      USA  North America  United States 2024-08-04  103436829.0

        new_cases  new_cases_smoothed  total_deaths  new_deaths  \
403451        0.0             485.714           0.0         0.0
403452        0.0             485.714           0.0         0.0
403453        0.0             485.714           0.0         0.0
403454        0.0             485.714           0.0         0.0
403455        0.0             485.714           0.0         0.0
...           ...                 ...           ...         ...
405120        0.0           13322.857     1192546.0         0.0
405121        0.0           13322.857     1192546.0         0.0
405122        0.0           13322.857     1192546.0         0.0
405123        0.0           13322.857     1192546.0         0.0
405124        0.0           13322.857     1193165.0       619.0

        new_deaths_smoothed  ...  male_smokers  handwashing_facilities  \
403451                0.000  ...          24.6                  21.222
403452                0.000  ...          24.6                  21.222
403453                0.000  ...          24.6                  21.222
403454                0.000  ...          24.6                  21.222
403455                0.000  ...          24.6                  21.222
...                     ...  ...           ...                     ...
405120               88.429  ...          24.6                  21.222
405121               88.429  ...          24.6                  21.222
405122               88.429  ...          24.6                  21.222
405123               88.429  ...          24.6                  21.222
405124               88.429  ...          24.6                  21.222

        hospital_beds_per_thousand  life_expectancy  human_development_index  \
403451                        2.77            78.86                    0.926
403452                        2.77            78.86                    0.926
403453                        2.77            78.86                    0.926
403454                        2.77            78.86                    0.926
403455                        2.77            78.86                    0.926
...                            ...              ...                      ...
405120                        2.77            78.86                    0.926
405121                        2.77            78.86                    0.926
405122                        2.77            78.86                    0.926
405123                        2.77            78.86                    0.926
405124                        2.77            78.86                    0.926

        population  excess_mortality_cumulative_absolute  \
403451   338289856                               -1914.9
403452   338289856                               -1914.9
403453   338289856                               -1914.9
403454   338289856                               -1914.9
403455   338289856                               -1914.9
...            ...                                   ...
405120   338289856                             1349000.4
405121   338289856                             1349000.4
405122   338289856                             1349000.4
405123   338289856                             1349000.4
405124   338289856                             1349000.4

        excess_mortality_cumulative  excess_mortality  \
403451                        -3.09             -3.09
403452                        -3.09             -3.09
403453                        -3.09             -3.09
403454                        -3.09             -3.09
403455                        -3.09             -3.09
...                             ...               ...
405120                        11.35              5.84
405121                        11.35              5.84
405122                        11.35              5.84
405123                        11.35              5.84
405124                        11.35              5.84

        excess_mortality_cumulative_per_million
403451                                -5.700091
403452                                -5.700091
403453                                -5.700091
403454                                -5.700091
403455                                -5.700091
...                                         ...
405120                              3967.688200
405121                              3967.688200
405122                              3967.688200
405123                              3967.688200
405124                              3967.688200

[1674 rows x 67 columns]
Missing values per column in USA set:
iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                0
                                          ..
population                                 0
excess_mortality_cumulative_absolute       0
excess_mortality_cumulative                0
excess_mortality                           0
excess_mortality_cumulative_per_million    0
Length: 67, dtype: int64

Missing values after filling:
iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                0
                                          ..
population                                 0
excess_mortality_cumulative_absolute       0
excess_mortality_cumulative                0
excess_mortality                           0
excess_mortality_cumulative_per_million    0
Length: 67, dtype: int64